
<div>Name: {{celeb.name}}</div>
<div> Occupation: {{celeb.occupation}}</div>
<div> Catchphrase: {{celeb.catchPhrase}}</div>

<a href="/celebrities/remove/{{celeb._id}}/delete">
    <button type="submit">Delete celebrity</button>
</a>
