<div>title: {{movies.title}}</div>
<div> Genre: {{movies.genre}}</div>
<div> Plot: {{movies.plot}}</div>

<a href="/movies/remove/{{movies._id}}/delete">
    <button type="submit">Delete movie</button>
</a>